.DS_Store
.byebug_history
Icon^M^M
Icon\r\r
Icon\r
Icon?

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore bundle config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal