<tr>
    <td></td>
    <td>
        <form action="<%= goal_cheers_url(@goal) %>" method="post">
            <%= auth_token %>
            <input type="submit" value="Give Cheer">
        </form>
    </td>
</tr>