<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>

        <h1>Welcome <%= @user.username %></h1>

        <p>This is 99 cats.</p>

        <p>Click <a href = <%= @url %>>here</a> to begin your cat-sploration.</p>

    </body>
</html>