<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<%= render 'tweets/form' %>

<div class="infinite-tweets">
  <ul id="feed">
    <!--
    <%# @feed_tweets.each do |tweet| %>
      <li><%#= render 'tweets/tweet', tweet: tweet %></li>
    <%# end %>
    -->
  </ul>
  <a href="#" class="fetch-more">Fetch More</a>
</div>


